body{
    background-image: url("../images/Pixar-Movies-BG2.jpg");
    background-size: cover;
    height: 100%;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
    color: white;
    position: relative;
}

.container{
	margin-top: 50px;
	text-align: left;
	height: 500px;
    width: 500px;
    margin-left: 80px;
}

.btn-primary {
	background-color: #313477;
	color: white;
	font-family: 'Luckiest Guy', sans-serif;
	font-size: 30px;
	padding: 20px;
    margin-top: 20px;
    margin-left: 50px;
    max-width: 200px;
    text-align: center;
}

h1 {
    font-family: 'Luckiest Guy', sans-serif;
    margin-top: 100px;
    letter-spacing: 2px;
    text-shadow:
    -5px -5px 0 #313477,  
     5px -5px 0 #313477,
     -5px 5px 0 #313477,
      5px 5px 0 #313477;
}

h2, #message, #finalMessage{
    font-family: 'Russo One', sans-serif;
    letter-spacing: 2px;
}

.selection:hover{
	color: #202364;
	padding: 0px 10px;
}

#gif{
    margin-top: 30px;
}

#pauseSong, #playSong {
    background-color: #313477;
	color: white;
	font-family: 'Russo One', sans-serif;
	font-size: 15px;
	padding: 10px;
    text-align: center;
    float: left;
    margin-right: 10px;
}